version: '3'
services:
  db_af:
    image: mongo
    hostname: db_af
    ports:
      - 27017:27018

  backend:
    build:
      context: src/
      dockerfile: Dockerfile
    hostname: backend
    ports:
      - 9494:9494
    depends_on:
      - db_af